<div class="container_custom">
    <div class="card">
        <div class="card-body cardbody-color p-lg-5">
    
            <h2 class="text-center text-dark mt-5">Welcome to PC Chat</h2>
            <div class="text-center text-dark mb-5 ">Please join room to start chatting</div> 
            
            <div class="text-center">
                <button routerLink="/join-room" type="submit" class="btn btn-primary px-5 mb-5 w-100">Join Room Now</button>
            </div>
    
        </div>
    </div>
</div>

