<div class="container mt-5">

  <div class="chat_header">
    <h3 class="text-center my-2 ms-3">Welcome to <span class="text-primary">{{roomName}}</span> Group</h3>
    <button (click)="leaveChat()" class="btn btn-danger me-3">Leave Chat</button>
  </div>

  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">

        <div class="recent_heading">
          <h4 class="text-black">Connected Users</h4>
        </div>
        
        <div class="inbox_chat">
          <ng-container *ngFor="let user of this.chatService.connectedUsers$ | async">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="../../../assets/img/user-avatar.svg" alt="sunil"> </div>
                  <div class="chat_ib mt-3">
                    <h5>{{user}} <span class="online"></span></h5>
                  </div>
                </div>
              </div>
          </ng-container>
        </div>

      </div>

      <div class="mesgs">

        <div #scrollMe class="msg_history">
          <ng-container *ngFor="let message of this.chatService.messages$ | async">

            <div [ngClass]="{'incoming_msg': message.user !== loggedInUsername, 'outgoing_msg': message.user === loggedInUsername}">
              
              <div *ngIf="message.user != loggedInUsername" class="incoming_msg_img">
                <img src="../../../assets/img/user-avatar.svg">
              </div>

              <div *ngIf="message.user != loggedInUsername" class="received_msg">
                <div class="received_withd_msg">
                  <p> {{message.message}}</p>
                  <span class="time_date"><span class="fw-bold">{{message.user}}</span> | {{message.messageTime | date: 'medium'}}</span>
                </div>
              </div>

              <div *ngIf="message.user === loggedInUsername" class="sent_msg">
                <p>{{message.message}}</p>
                <span class="time_date"><span class="fw-bold">{{message.user}}</span> | {{message.messageTime | date: 'medium'}}</span>
              </div>

            </div>

          </ng-container>
        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            
            <div class="send_mgs_container">
              <input 
                type="text" 
                class="write_msg" 
                (keyup.enter)="sendMessage()" 
                (input)="onInputChange($any($event.target).value)" 
                (focus)="onFocusChange(true)" (focusout)="onFocusChange(false)"  
                *ngIf="{data: this.chatService.typingOptions$ | async} as typingOptions" 
                [placeholder]="typingOptions.data?.isTyping ? 'Someone is typing...' : 'Type Message'" 
                [formControl]="sendMessageInput"              
              />
              
              <button [disabled]="sendMessageInput.invalid" (click)="sendMessage()" class="btn btn-primary btn-sm" type="button">Send</button>
            </div>

          </div>
        </div>
        
      </div>
    </div>

  </div>

</div>